@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.sponser>div {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  max-height: 30vw;
  max-height: 30vh;
}
.logo{
  align-items: center;
  text-align: center;
}
.sponser>.item1 {
  grid-area: first;
}

.sponser>.item2 {
  grid-area: second;
}

.sponser>.item3 {
  grid-area: third;
}

.sponser>.item4 {
  grid-area: fourth;
}

.sponser>.item5 {
  grid-area: fifth;
}

.sponser {
  position: relative;
  display: grid;
  grid-template-areas:
    "first second third"
    "fourth second fifth";
  gap: 10px;
  align-items: center;
  height: 70%;
}

.posts {
  
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.posts>div {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 30vw;

}

.ad {
  position: relative;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

@media (max-width: 600px) {
  .sponser {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .sponser>div {
    display: block;
    overflow: hidden;
  }

  .posts {
    display: block;
    width: 100%;
    height: 40%;
  }
}

.content {
  max-width: 80%;
  margin: 40px auto;
  display: grid;
  gap: 3%;
  grid-template-columns: 31% 31% 31%;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: var(--content-color);
  box-sizing: border-box;
  border-radius: 24px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  overflow: hidden;
}

.grid-img {
  width: 100%;
  height: 300px;
}

.grid-image {
  width: 100%;
}

.content-title {
  padding: 5px 10px;
}

@media only screen and (max-width: 500px) {
  .content {
    display: block;
    max-width: 90%;
    margin: 10px auto;
  }

  .grid-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sponsor {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .main-footer {
    display: block;
  }
}

.sponsor {
  width: 100%;
}

.main-footer {
  width: 100%;
  display: grid;
  gap: 3%;
  grid-template-columns: auto auto auto;
  font-family: "Oswald", sans-serif;
  background-image: url("footer\ gradient.png");
  background-size: cover;
}

.footer-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* :root {
  --margin-1: 2vw;
  --margin-2: 4vw;
  --margin-3: 8vw;
  --color-red-1: red;
  --color-red-dark: #000;
}
.image {
  grid-area: first;
}
.text {
  grid-area: second;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "first"
    "second";
  gap: 10px;
  background-color: lightcoral;
} */

.footer {
  /* display: ; */
  gap: 3%;
  grid-template-columns: auto auto auto;
  font-family: "Oswald", sans-serif;
  background-image: url("assets/footer.png");
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-item {
  text-align: center;
}

.contact button {
  border-radius: 0px;
  background: #e69191;
  border-color: #e69191;
  margin-top: 15px;
}

.contact button a {
  color: aliceblue;
  text-decoration: none;
}

.copyright {
  background-color: #464646;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1052px) {

  /* For desktop: */
  .footer {
    display: grid;
  }

  .copyright {
    text-align: left;
  }
}

.content {
  max-width: 80%;
  margin: 40px auto;
  display: grid;
  gap: 3%;
  grid-template-columns: 31% 31% 31%;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: var(--content-color);
  box-sizing: border-box;
  border-radius: 24px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.3vw 0.3vw 0.3vw gray;
}

.grid-img {
  width: 100%;
}

.content-title {
  padding: 0 10px 15px 10px;
}

@media only screen and (max-width: 500px) {
  .content {
    display: block;
    max-width: 90%;
    margin: auto;
  }

  .grid-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sponsor {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .anchor-up {
    display: none;
  }
}

.sponsor {
  width: 100%;
}

.btn {
  float: right;
  margin-right: 3%;
  margin-bottom: 4vh;
  margin-top: -8vh;
  display: flex;
  background-color: #ff6a6a;
  height: 4vw;
  width: 4vw;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --content-color: #dcd3d3;
}

header {
  background-color: #aca5a5;
}
header>div>div{
  align-items: center;
  text-align: center;

}


